<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ESCSVParser_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ESCSVParser_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1C06F7C1B56815D00FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C06F861B56815D00FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C06F9B1B56821700FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C06FA41B56821700FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C06FB71B56823D00FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C06FC01B56823D00FD538C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
